<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475093125363-p5p6qn60ootk9hbu6ra0v3j42i95kurm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475093125363-p5p6qn60ootk9hbu6ra0v3j42i95kurm</string>
	<key>API_KEY</key>
	<string>AIzaSyBAgK_7Qzj2mtZM5bDkKxJvLBr_mgYZJTM</string>
	<key>GCM_SENDER_ID</key>
	<string>475093125363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BJCHO0501.Wwhat</string>
	<key>PROJECT_ID</key>
	<string>team-wwhat</string>
	<key>STORAGE_BUCKET</key>
	<string>team-wwhat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475093125363:ios:53655230b93d93d1fe0f86</string>
</dict>
</plist>